  name: Selenium PyTest Automation

  on:
    push:
      branches: [ "main" ]
    pull_request:
      branches: [ "main" ]

  jobs:
    test:
      runs-on: windows-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.13'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Run PyTest with HTML report
          run: |
            pytest -v --html=report.html --self-contained-html

        - name: Upload HTML report
          uses: actions/upload-artifact@v4
          if: always()
          with:
            name: PyTest HTML Report
            path: report.html
